

.temps{background-image:url(temps.png);background-color:transparent;background-repeat:no-repeat;}
.t0_png{height:30px;width:31px;background-position:0 0;}
.t1_png{height:30px;width:31px;background-position:-31px 0;}
.t2_png{height:30px;width:31px;background-position:-62px 0;}
.t3_png{height:30px;width:31px;background-position:-93px 0;}
.t4_png{height:30px;width:31px;background-position:-124px 0;}
.t5_png{height:30px;width:31px;background-position:-155px 0;}
.t6_png{height:30px;width:31px;background-position:-186px 0;}
.t7_png{height:30px;width:31px;background-position:-217px 0;}
.t8_png{height:30px;width:31px;background-position:-248px 0;}
.t9_png{height:30px;width:31px;background-position:-279px 0;}

.t10_png{height:30px;width:44px;background-position:-310px 0;}
.t11_png{height:30px;width:44px;background-position:-354px 0;}
.t12_png{height:30px;width:44px;background-position:-398px 0;}
.t13_png{height:30px;width:44px;background-position:-442px 0;}
.t14_png{height:30px;width:44px;background-position:-486px 0;}
.t15_png{height:30px;width:44px;background-position:-530px 0;}
.t16_png{height:30px;width:44px;background-position:-574px 0;}
.t17_png{height:30px;width:44px;background-position:-618px 0;}
.t18_png{height:30px;width:44px;background-position:-662px 0;}
.t19_png{height:30px;width:44px;background-position:-706px 0;}
.t20_png{height:30px;width:44px;background-position:-750px 0;}

.t21_png{height:30px;width:44px;background-position:-794px 0;}
.t22_png{height:30px;width:44px;background-position:-838px 0;}
.t23_png{height:30px;width:44px;background-position:-882px 0;}
.t24_png{height:30px;width:44px;background-position:-926px 0;}
.t25_png{height:30px;width:44px;background-position:-970px 0;}
.t26_png{height:30px;width:44px;background-position:-1014px 0;}
.t27_png{height:30px;width:44px;background-position:-1058px 0;}
.t28_png{height:30px;width:44px;background-position:-1102px 0;}
.t29_png{height:30px;width:44px;background-position:-1146px 0;}
.t30_png{height:30px;width:44px;background-position:-1190px 0;}
.t31_png{height:30px;width:44px;background-position:-1234px 0;}
.t32_png{height:30px;width:44px;background-position:-1278px 0;}
.t33_png{height:30px;width:44px;background-position:-1322px 0;}
.t34_png{height:30px;width:44px;background-position:-1366px 0;}
.t35_png{height:30px;width:44px;background-position:-1410px 0;}
.t36_png{height:30px;width:44px;background-position:-1454px 0;}
.t37_png{height:30px;width:44px;background-position:-1498px 0;}
.t38_png{height:30px;width:44px;background-position:-1542px 0;}
.t39_png{height:30px;width:44px;background-position:-1586px 0;}
.t40_png{height:30px;width:44px;background-position:-1630px 0;}

.t41_png{height:30px;width:44px;background-position:-1674px 0;}
.t42_png{height:30px;width:44px;background-position:-1718px 0;}
.t43_png{height:30px;width:44px;background-position:-1762px 0;}
.t44_png{height:30px;width:44px;background-position:-1806px 0;}
.t45_png{height:30px;width:44px;background-position:-1850px 0;}
.t46_png{height:30px;width:44px;background-position:-1894px 0;}
.t47_png{height:30px;width:44px;background-position:-1938px 0;}
.t48_png{height:30px;width:44px;background-position:-1982px 0;}
.t49_png{height:30px;width:44px;background-position:-2026px 0;}
.t50_png{height:30px;width:44px;background-position:-2070px 0;}
.t51_png{height:30px;width:44px;background-position:-2114px 0;}
.t52_png{height:30px;width:44px;background-position:-2158px 0;}
.t53_png{height:30px;width:44px;background-position:-2202px 0;}
.t54_png{height:30px;width:44px;background-position:-2246px 0;}
.t55_png{height:30px;width:44px;background-position:-2290px 0;}
.t56_png{height:30px;width:44px;background-position:-2334px 0;}
.t57_png{height:30px;width:44px;background-position:-2378px 0;}
.t58_png{height:30px;width:44px;background-position:-2422px 0;}
.t59_png{height:30px;width:44px;background-position:-2466px 0;}
.t60_png{height:30px;width:44px;background-position:-2510px 0;}

.t61_png{height:30px;width:44px;background-position:-2554px 0;}
.t62_png{height:30px;width:44px;background-position:-2598px 0;}
.t63_png{height:30px;width:44px;background-position:-2642px 0;}
.t64_png{height:30px;width:44px;background-position:-2686px 0;}
.t65_png{height:30px;width:44px;background-position:-2730px 0;}
.t66_png{height:30px;width:44px;background-position:-2774px 0;}
.t67_png{height:30px;width:44px;background-position:-2818px 0;}
.t68_png{height:30px;width:44px;background-position:-2862px 0;}
.t69_png{height:30px;width:44px;background-position:-2906px 0;}
.t70_png{height:30px;width:44px;background-position:-2950px 0;}
.t71_png{height:30px;width:44px;background-position:-2994px 0;}
.t72_png{height:30px;width:44px;background-position:-3038px 0;}
.t73_png{height:30px;width:44px;background-position:-3082px 0;}
.t74_png{height:30px;width:44px;background-position:-3126px 0;}
.t75_png{height:30px;width:44px;background-position:-3170px 0;}
.t76_png{height:30px;width:44px;background-position:-3214px 0;}
.t77_png{height:30px;width:44px;background-position:-3258px 0;}
.t78_png{height:30px;width:44px;background-position:-3302px 0;}
.t79_png{height:30px;width:44px;background-position:-3346px 0;}
.t80_png{height:30px;width:44px;background-position:-3390px 0;}

.t81_png{height:30px;width:44px;background-position:-3434px 0;}
.t82_png{height:30px;width:44px;background-position:-3478px 0;}
.t83_png{height:30px;width:44px;background-position:-3522px 0;}
.t84_png{height:30px;width:44px;background-position:-3566px 0;}
.t85_png{height:30px;width:44px;background-position:-3610px 0;}
.t86_png{height:30px;width:44px;background-position:-3654px 0;}
.t87_png{height:30px;width:44px;background-position:-3698px 0;}
.t88_png{height:30px;width:44px;background-position:-3742px 0;}
.t89_png{height:30px;width:44px;background-position:-3786px 0;}
.t90_png{height:30px;width:44px;background-position:-3830px 0;}

.t91_png{height:30px;width:44px;background-position:-3874px 0;}
.t92_png{height:30px;width:44px;background-position:-3918px 0;}
.t93_png{height:30px;width:44px;background-position:-3962px 0;}
.t94_png{height:30px;width:44px;background-position:-4006px 0;}
.t95_png{height:30px;width:44px;background-position:-4050px 0;}
.t96_png{height:30px;width:44px;background-position:-4094px 0;}
.t97_png{height:30px;width:44px;background-position:-4138px 0;}
.t98_png{height:30px;width:44px;background-position:-4182px 0;}
.t99_png{height:30px;width:44px;background-position:-4226px 0;}

.t100_png{height:30px;width:58px;background-position:-4270px 0;}
.t101_png{height:30px;width:58px;background-position:-4328px 0;}
.t102_png{height:30px;width:58px;background-position:-4386px 0;}
.t103_png{height:30px;width:58px;background-position:-4444px 0;}
.t104_png{height:30px;width:58px;background-position:-4502px 0;}
.t105_png{height:30px;width:58px;background-position:-4560px 0;}
.t106_png{height:30px;width:58px;background-position:-4618px 0;}
.t107_png{height:30px;width:58px;background-position:-4676px 0;}
.t108_png{height:30px;width:58px;background-position:-4734px 0;}
.t109_png{height:30px;width:58px;background-position:-4792px 0;}
.t110_png{height:30px;width:58px;background-position:-4850px 0;}

.tn1_png{height:30px;width:39px;background-position:-4908px 0;}
.tn2_png{height:30px;width:39px;background-position:-4947px 0;}
.tn3_png{height:30px;width:39px;background-position:-4986px 0;}
.tn4_png{height:30px;width:39px;background-position:-5025px 0;}
.tn5_png{height:30px;width:39px;background-position:-5064px 0;}
.tn6_png{height:30px;width:39px;background-position:-5103px 0;}
.tn7_png{height:30px;width:39px;background-position:-5142px 0;}
.tn8_png{height:30px;width:39px;background-position:-5181px 0;}
.tn9_png{height:30px;width:39px;background-position:-5220px 0;}

.tn10_png{height:30px;width:54px;background-position:-5259px 0;}
.tn11_png{height:30px;width:54px;background-position:-5313px 0;}
.tn12_png{height:30px;width:54px;background-position:-5367px 0;}
.tn13_png{height:30px;width:54px;background-position:-5421px 0;}
.tn14_png{height:30px;width:54px;background-position:-5475px 0;}
.tn15_png{height:30px;width:54px;background-position:-5529px 0;}
.tn16_png{height:30px;width:54px;background-position:-5583px 0;}
.tn17_png{height:30px;width:54px;background-position:-5637px 0;}
.tn18_png{height:30px;width:54px;background-position:-5691px 0;}
.tn19_png{height:30px;width:54px;background-position:-5745px 0;}
.tn20_png{height:30px;width:54px;background-position:-5799px 0;}
.tn21_png{height:30px;width:54px;background-position:-5853px 0;}
.tn22_png{height:30px;width:54px;background-position:-5907px 0;}
.tn23_png{height:30px;width:54px;background-position:-5961px 0;}
.tn24_png{height:30px;width:54px;background-position:-6015px 0;}
.tn25_png{height:30px;width:54px;background-position:-6069px 0;}
.tn26_png{height:30px;width:54px;background-position:-6123px 0;}
.tn27_png{height:30px;width:54px;background-position:-6177px 0;}
.tn28_png{height:30px;width:54px;background-position:-6231px 0;}
.tn29_png{height:30px;width:54px;background-position:-6285px 0;}
.tn30_png{height:30px;width:54px;background-position:-6339px 0;}
.tn31_png{height:30px;width:54px;background-position:-6393px 0;}
.tn32_png{height:30px;width:54px;background-position:-6447px 0;}
.tn33_png{height:30px;width:54px;background-position:-6501px 0;}
.tn34_png{height:30px;width:54px;background-position:-6555px 0;}
.tn35_png{height:30px;width:54px;background-position:-6609px 0;}
.tn36_png{height:30px;width:54px;background-position:-6663px 0;}
.tn37_png{height:30px;width:54px;background-position:-6717px 0;}
.tn38_png{height:30px;width:54px;background-position:-6771px 0;}
.tn39_png{height:30px;width:54px;background-position:-6825px 0;}
.tn40_png{height:30px;width:54px;background-position:-6879px 0;}
